body h2 {
  position: relative;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid rgba(220, 231, 235, 0.5);
}
body .tabordion {
  position: relative;
  width: 80%;
  color: #30455c;
  margin: 0;
}
body .tabordion section {
  display: block;
  width: 100%;
  left: 0;
}
body .tabordion section input[name=sections] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
body .tabordion section input[name=sections]:checked + label {

  color: red;
}
body .tabordion section input[name=sections]:checked ~ article {
  display: block;
}
body .tabordion section label {

  font-weight: 700;

  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 0.83em;
  position: relative;
  width: 100%;
  z-index: 100;
}

body .tabordion section label:hover {
  color:red;
}


body .tabordion section article {
  display: none;
  left: 0;
  width: 100%;
  padding: 1em;
  position: relative;
  top: 0;
  background: #fefffa;
  font-weight: 300;
  line-height: 1.7;
      border-radius: 7px;
}
body .tabordion section article p {
  margin-bottom: 1em;
}
body .tabordion section article:after {
  background-color: transparent;
  bottom: 0;
  content: "";
  display: block;

  position: absolute;
  top: 0;
  width: 220px;
  z-index: 1;
}

@media all and (min-width: 768px) {
  body .tabordion {
    width: 80%;

  }
  body .tabordion section label {
 

    padding: 1em 2.5%;
    width: 20%;
  }
  body .tabordion section article {
    position: absolute;
    width: 70%;
    left: 26.5%;
  }
}