---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';
import LanguageSwitcher from '../components/LanguageSwitcher.astro'
import { suid } from '../libs/utils'
import { get_counter, set_counter } from '../components/sessions'
import data from "../content/content.json"

const aboutTextES = data.es.about.text
const aboutTextEN = data.en.about.text
var aboutText = data.es.about.text;

let session_id =0

var counter = get_counter(session_id)
if(counter == null){
	counter = 0
	set_counter(session_id,counter)
}


switch (counter) {
 case 1:
 aboutText = aboutTextES;
 break;
 case 2:
 aboutText = aboutTextEN;
 break;
 default:
 console.log('ola');
}

---

<MainLayout title="About">
<div class="after-header-space"></div>
<div class="container center-content">
<h1 class="center-self" class="title">About</h1>
<div class="aboutText">
  <p set:html={aboutText}>
  </p></div></div>

</MainLayout>

<LanguageSwitcher title="" init={counter}/>
