---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';
import data from "../content/content.json"

const aboutText = data.es.about.text


---

<MainLayout title="About">
<div class="after-header-space"></div>
<div class="container center-content">
<h1 class="center-self" class="title">About</h1>
<div class="aboutText">
  <p set:html={aboutText}>
  </p></div></div>

</MainLayout>

