---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';

const response = await fetch('https://my-json-server.typicode.com/smosgasbord/fedePortfolio/en');
const data = await response.json();
const dataRes = data.about.text;
console.log(data.about)

---

<MainLayout title="About">
<div class="after-header-space"></div>
<div class="container center-content">
<h1 class="center-self" class="title">About</h1>
<div class="aboutText">
  <p>
{dataRes}
  </p></div></div>
</MainLayout>

