---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';
//import React from 'https://cdn.skypack.dev/react';

let title = "Tropical Lluvioso"
---

<MainLayout>
<section class="first">
  <div class="outer">
    <div class="inner">
      <div class="bg one">
        <h2 class="section-heading"></h2>
      </div>
    </div>
  </div>

</section>
</MainLayout>
