---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';
import '../styles/slideshow.css';

const response = await fetch('https://my-json-server.typicode.com/smosgasbord/fedePortfolio/es');
const data = await response.json();
const dataRes = data.home.stills;
console.log(dataRes[0].image.id)

{dataRes.map((still) => 
 still.image.id = "https://ucarecdn.com/"+still.image.id+"/"
)}

console.log(dataRes[0].image.id)

let {title} = Astro.props; 
---

<MainLayout title="Tropical Lluvioso  ">

<div class="container-slides">
     
      {dataRes.map((still) =>  
      <img loading="lazy" class="slide" src={still.image.id} alt={still.image.id}
      >)}
      </div>
</MainLayout>


<script src="../components/auto-slideshow.js"></script>