---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';
import exscripts from "../components/external-scripts.astro"

let {title} = Astro.props;
---

<MainLayout title="Tropical Lluvioso  ">
<section class="first">
  <div class="outer">
    <div class="inner">
      <div class="bg one">
        <h2 class="section-heading"></h2>
      </div>
    </div>
  </div>

</section>
<section class="second">
  <div class="outer">
    <div class="inner">
      <div class="bg two">
        <h2 class="section-heading"></h2>
      </div>
    </div>
  </div>

</section>




</MainLayout>


<script>

const menuButton = document.querySelector(".menu_button");
const menuOverlay = document.querySelector(".menu_overlay");
const bar = document.querySelectorAll(".bar");

menuButton.addEventListener("click", function() {
  menuOverlay.classList.toggle("open");
  bar.forEach(bar => bar.classList.toggle("close"));
});
  
</script>