---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';

let {title} = Astro.props;
---

<MainLayout title="Tropical Lluvioso  ">
<section class="first">
  <div class="outer">
    <div class="inner">
      <div class="bg one">
        <h2 class="section-heading"></h2>
      </div>
    </div>
  </div>

</section>
<section class="second">
  <div class="outer">
    <div class="inner">
      <div class="bg two">
        <h2 class="section-heading"></h2>
      </div>
    </div>
  </div>

</section>




</MainLayout>
