---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';
import '../styles/cards.css';
import '../styles/slideshow.css';

const response = await fetch('https://raw.githubusercontent.com/smosgasbord/fedePortfolio/main/db.json');
const data = await response.json();


const projects = data.es.screenwriting


let {title} = Astro.props;
---

<MainLayout title="Screenwriting - Tropical Lluvioso">
<div class="after-header-space"></div>
<h1 class="center-content">Screenwriting</h1>
<div class="cardContainer">
{projects.map((project) => 
  <figure class="card"><img loading="lazy" src={`https://ucarecdn.com/${project.galeria[0].image.id}/-/format/webp/`}  />
    <figcaption>
      <h3>{project.tituloProyecto}</h3>
      <p class="content" set:html={project.sinopsis}></p>
      <a class="content btn center-content" href={}>Ver Más</a>

    </figcaption>

  </figure>
)}
  </div>
</MainLayout>
