---
import MainLayout from "../layouts/MainLayout.astro"
import '../styles/main.css';
import '../styles/slideshow.css';

//import Slideshow from "../components/Slideshow.astro"

const response = await fetch('https://randomuser.me/api/?results=6');
const data = await response.json();
const dataRes = data.results;

let {title} = Astro.props; 

---

<MainLayout title="Tropical Lluvioso  ">


<div class="container-slides">
     
      {dataRes.map((person) => 
      <img class="slide" src={person.picture.large} alt="">
      )}
      
      </div>
       <p class="pb-data">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias magni possimus et officia voluptates, illum, nulla, esse inventore similique tempore ipsum quos quas debitis ex laudantium nobis suscipit architecto quis? Consequuntur voluptatem alias fugit doloremque maiores similique reprehenderit saepe, quasi iure in reiciendis perspiciatis inventore esse error recusandae molestiae, laborum fuga rerum velit porro. Pariatur amet molestias ipsam labore quam excepturi minima in quae porro consequatur! Officia nulla omnis autem beatae nihil perferendis labore quisquam fugiat voluptates corrupti! Inventore autem eos, at nesciunt quibusdam suscipit reprehenderit. Exercitationem, quis nulla porro quasi nisi totam hic animi repudiandae. Fugit animi vitae nihil?</p>
  
</MainLayout>


<script src="../components/auto-slideshow.js"></script>


    
