---
export async function getStaticPaths() {

const response = await fetch('https://randomuser.me/api/?results=6');
const data = await response.json();
const dataRes = data.results;
console.log(dataRes[0].gender)

  return [
    { 
      params: { 
         project: dataRes[0].gender
         },
         props:  dataRes
    }
    
  ];
}

const { project } = Astro.params;
const { data } = Astro.props;
---

<h1>this is {project}, a decent car</h1>

<p>{}</p>


