---
import MainLayout from "../../layouts/MainLayout.astro"
import '../../styles/main.css';
import "../../styles/project.css"

export async function getStaticPaths() {

const response = await fetch('https://raw.githubusercontent.com/smosgasbord/fedePortfolio/main/db.json');
const data = await response.json();


const projects = data.es.production

console.log(projects)
  return projects.map(({ id }) => {

    return {
      params: { id },
      props: { projects},
    };
  });
}

const { id } = Astro.params;
const { project } = Astro.props;



---
<MainLayout>
<h1>{project.tituloProyecto}</h1>
<div class="after-header-space"></div>
<div class="center-self">
<div class="tabordion">

  <figure id="section1">
    <input type="radio" name="sections" id="option1" checked>
    <label for="option1"> Galería</label>
    <article>
    <h2>Galeria</h2>
      <img src={project.galeria.image.id}>
    </article>
    </figure>
    <figure id="section2">
      <input type="radio" name="sections" id="option2" checked>
      <label for="option2">Ficha</label>
      <article>
        <h2>Ficha</h2>
        <p>{project.ficha}</p>
      </article>
    </figure>
    <figure id="section3">
      <input type="radio" name="sections" id="option3" checked>
      <label for="option3">Sinopsis</label>
      <article>
        <h2>Sinopsis</h2>
        <p>{project.sinopsis}</p>
      </article>
    </figure>
</div></div>
</MainLayout>