---

export async function getStaticPaths() {


const response = await fetch('https://randomuser.me/api/?results=6');
const data = await response.json();
const dataRes = data.results;


  return dataRes.map(({ gender, email }) => {
  console.log({gender})
    return {
      params: { gender },
      props: { email },
    };
  });
}

const { gender} = Astro.request.params;
const { email } = Astro.props;


---
<html>
<head>
  <title>{gender}</title>
</head>
<body>
  <h1>{gender}</h1>
  <p>{email}</p>
</body>
</html>